body {
    padding-top: 56px;
}

.jumbotron {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../img/hero.png');
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}

.btn-primary {
    background-color: darkorange;
    border-color: black;
}
